.env
.cdsapirc
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.vscode/
.idea/

*.csv
*.nc
*.grib
data/raw/
data/processed/
data/external/

instrucciones.md

*.ipynb